html{
    font-size: 100%;
}
body{
    font-family: 'Asap', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: rgb(87, 168, 94);
}
h1{
    font-size: 3.5rem;
    font-family: 'Flamenco', cursive;
    margin-top: 45%;
}
p a{
    text-decoration: none;
    color: #4B5748;
}
.section-main{
    width: 80%;
    margin: 100px auto;
    position: relative;
}
.section-main img{
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
}
.section-main.imac img{
    max-width: 800px;
}
.section-main.mcbook-slider{
    width: 600px;
}
.section-main.mcbook-slider .slider-content{
    width: 458px;
    height: 286px;
    background: url('../img/slider1.jpg') no-repeat left center transparent;
    overflow: hidden;
    position: absolute;
    top: 20px;
    left: 70px;
}

@-webkit-keyframes draw {
    0%{
        stroke-dashoffset: 50;
    }

    100%{
        stroke-dashoffset: 5;
    }
}
path{
    animation: draw 10s;
    stroke-dasharray: 50;

}

